{% extends "layout.html" %}

{% block page_title %}
  Send money to a prisoner
{% endblock %}

{% block content %}


{% block head %}
  {% include "includes/head-GOVUKPAY.html" %}
{% endblock %}


<main id="content" role="main" class="content-wrapper confirm-page">

    <h1 class="form-title">Confirm your payment</h1>


    <table class="confirm-details">
        <tbody><tr>
            <td>Card number:</td>
            <td id="card-number" class="details">************0000</td>
        </tr>
        <tr>
            <td>Card brand:</td>
            <td id="card-brand" class="details">Visa</td>
        </tr>
        <tr>
            <td>Expiry date:</td>
            <td id="expiry-date" class="details">02/20</td>
        </tr>
        <tr>
            <td>Name on card:</td>
            <td id="cardholder-name" class="details">Roy Robinson</td>
        </tr>
        <tr>
            <td>Billing address:</td>
            <td id="address" class="details">kaljshdlkajs, London, N167SR, United Kingdom</td>
        </tr>
        <tr>
            <td>Payment for:</td>
            <td id="payment-description" class="details">To this prisoner: A1409AE</td>
        </tr>
        <tr>
            <td>Total amount:</td>
            <td id="amount" class="details">£90.00</td>
        </tr>
        <tr>
            <td>Confirmation email:</td>
            <td id="email" class="details">email@email.com</td>
        </tr>
    </tbody></table>

    <form id="confirmation" method="get" action="/payment_success" class="form">

        <input id="csrf" name="csrfToken" type="hidden" value="lMr926IY-uNJcV-bJ-M0gGo0XIh1p0D279GA">
        <input id="chargeId" name="chargeId" type="hidden" value="piic9fuhj3qsv2io1qlgfnnl57">

        <button id="confirm" class="button">Confirm payment</button>

    </form>

    <form id="cancel" name="cancel" method="get" action="#" class="form">

        <div>
            <input id="cancel-payment" type="submit" class="link" value="Cancel payment" name="cancel">
            <input id="csrf2" name="csrfToken" type="hidden" value="lMr926IY-uNJcV-bJ-M0gGo0XIh1p0D279GA">
        </div>

    </form>

</main>


{% endblock %}
