{% extends "layout.html" %}

{% block page_title %}
  Send money to a prisoner
{% endblock %}

{% block head %}
  {% include "includes/head-MTP.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-beta">

    <p>

        <strong class="phase-tag">Beta</strong>

        <span>
          This is a new service.
          You can <a href="/en-gb/help/">find help</a> or <a href="/en-gb/contact-us/">contact us</a> about this service.
        </span>

    </p>

  </div>

  <h1 class="heading-xlarge">

      <span class="heading-secondary">Pay now by debit card</span>

      Enter amount to send

  </h1>

  <form method="get" action="/check_details">

    <div class="mtp-amount">

      <fieldset>

        <legend class="form-label">Amount</legend>

        <label id="id_amount-label" class="mtp-hidden" for="id_amount">Please enter the amount in pounds</label>

        <div class="form-hint">For example, 20.00</div>

          <div class="form-group mtp-money-amount ">

            <div class="mtp-money-box">

              <span class="form-control mtp-currency-sign">
                £
              </span><input id="id_amount" class="form-control mtp-charges-amount" maxlength="10" name="amount" value="20.00" type="text" autocomplete="off" data-percentage-charge="0" data-fixed-charge="0">
            </div>

          </div>

      </fieldset>

      <p>
      Please be aware that refunds aren't possible. You can't cancel a payment once it's sent. 
      </p>

    </div>

      <p>
          <input id="id_next_btn" class="button" type="submit" value="Check details">
      </p>

  </form>

</main>


{% endblock %}
