{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block head %}
  {% include "includes/head-MTP.html" %}
{% endblock %}

{% block content %}

<main role="main" id="content" tabindex="-1">

  <div class="phase-banner-beta">
    <p>



        <strong class="phase-tag phase-tag-dev">test</strong>

      <span>
        This is a new service.
        You can <a href="/en-gb/contact-us/">contact us</a> with any feedback you have.
      </span>
    </p>
  </div>



  <header>




    <h1 class="heading-xlarge">
      <span class="heading-secondary">Pay now by debit card</span>
      Enter prisoner details
    </h1>
  </header>

  <form method="get" action="enter_amount">
    <input type="hidden" name="csrfmiddlewaretoken" value="LZEbUqb9yUGwXlOJqc9E4tr5Gjx5ueTr">

    <div class="error-summary" aria-labelledby="error-summary-heading" tabindex="-1" role="alert">
    <h1 class="error-summary-heading heading-medium" id="error-summary-heading">

      Details don't match prisoner records
    </h1>
    <ul class="error-summary-list">

        <!-- <li class="non-field-error"> -->
        <li>

          Possible reasons:

            <ul class="list list-bullet">

              <li>You may have entered the details incorrectly</li>

                <li>
                  <!-- Sometimes details held by a prison, such as date of birth, are incorrect  -->
                  Prisoner details may be incorrect
                  - ask the prisoner to confirm with the wing officer that both the date of birth and prisoner number are correct in the prison database</li>

              <li>
                <!-- The prisoner may be in a private prison. Please check this list of <a style="color:#005EA5;" href="https://send-money-to-prisoner.service.gov.uk/en-gb/help/prisons/">supported public prisons</a> -->
                This service only supports <a style="color:#005EA5;" href="https://send-money-to-prisoner.service.gov.uk/en-gb/help/prisons/">public prisons in england and wales</a> so please check
              </li>

              <li>
                <!-- The prisoner may have left prison. Please check with the prison if you think this is possible -->
                <!-- Details must be uploaded if the prisoner has left/changed/just arrived at prison - this may take a few days -->
                If the prisoner has changed or just arrived at prison, the processing of their details may take a few days

              </li>

              <li>
                The prisoner was released from prison
              </li>

            </ul>

            <!-- <a href="/help/details_dont_match" style="color:#005EA5;">More reasons why details might not match</a> -->

        </li>



      </ul>
    </div>



      <fieldset>
        <legend class="visuallyhidden">Prisoner details</legend>



  <div id="id_prisoner_name-wrapper" class="form-group ">


  <label for="id_prisoner_name" id="id_prisoner_name-label" class="form-label">
    Prisoner name
  </label>

    <input id="id_prisoner_name" class="form-control " name="prisoner_name" value="James Halls" type="text">
  </div>



          <div class="form-group form-date ">
            <p>Prisoner date of birth</p>

    <div class="form-hint">For example, 28 04 1996</div>






            <div>
              <div class="form-date-day ">
                <label id="id_prisoner_dob_0-label" class="form-label" for="id_prisoner_dob_0">Day</label>
                <input class="form-control" id="id_prisoner_dob_0" name="prisoner_dob_0" value="21" type="number">
              </div>
              <div class="form-date-month ">
                <label id="id_prisoner_dob_1-label" class="form-label" for="id_prisoner_dob_1">Month</label>
                <input class="form-control" id="id_prisoner_dob_1" name="prisoner_dob_1" value="1" type="number">
              </div>
              <div class="form-date-year ">
                <label id="id_prisoner_dob_2-label" class="form-label" for="id_prisoner_dob_2">Year</label>
                <input class="form-control form-year-field" id="id_prisoner_dob_2" name="prisoner_dob_2" value="1989" type="number" data-era-boundary="7">
              </div>
            </div>
          </div>



          <div class="form-group ">


  <label for="id_prisoner_number" id="id_prisoner_number-label" class="form-label">
    Prisoner number
  </label>


    <div class="form-hint">For example, A1234BC</div>

    <input class="form-control mtp-prisoner-number" id="id_prisoner_number" name="prisoner_number" value="A1409AE" type="text">
          </div>

      </fieldset>

      <p>
        <input id="id_next_btn" class="button" type="submit" value="Enter amount">
      </p>
    </form>




<!-- <div id="id_prisoner_name-wrapper" class="form-group ">


  <label for="id_prisoner_name" id="id_prisoner_name-label" class="form-label">
    Prisoner name
  </label>

  <input id="id_prisoner_name" class="form-control " name="prisoner_name" value="bob jenkins" type="text">

</div>



<div class="form-group form-date ">
  <p>Prisoner date of birth</p>

  <div class="form-hint">For example, 28 04 1996</div>






          <div>
            <div class="form-date-day ">
              <label id="id_prisoner_dob_0-label" class="form-label" for="id_prisoner_dob_0">Day</label>
              <input class="form-control" id="id_prisoner_dob_0" name="prisoner_dob_0" value="09" type="number">
            </div>
            <div class="form-date-month ">
              <label id="id_prisoner_dob_1-label" class="form-label" for="id_prisoner_dob_1">Month</label>
              <input class="form-control" id="id_prisoner_dob_1" name="prisoner_dob_1" value="02" type="number">
            </div>
            <div class="form-date-year ">
              <label id="id_prisoner_dob_2-label" class="form-label" for="id_prisoner_dob_2">Year</label>
              <input class="form-control form-year-field" id="id_prisoner_dob_2" name="prisoner_dob_2" value="1985" type="number" data-era-boundary="7">
            </div>
          </div>
        </div>



        <div class="form-group ">


<label for="id_prisoner_number" id="id_prisoner_number-label" class="form-label">
  Prisoner number
</label>


  <div class="form-hint">For example, A1234BC</div>






          <input class="form-control mtp-prisoner-number" id="id_prisoner_number" name="prisoner_number" value="A1234BC" type="text">
        </div>

    </fieldset>


    <p>
      <input id="id_next_btn" class="button" type="submit" value="Enter amount">
    </p>
 -->



  </form>

  </main>

{% endblock %}
