{% extends "layout.html" %}

{% block page_title %}
  Send money to a prisoner
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="http://localhost:3000/">Back</a>

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Help</span>
        Something went wrong with a payment
      </h1>

<!-- HELP -->

<p>
  Answers to common issues, including recieving an unexpected refund, the prisoner not getting the money and [something else].
</p>


      <h2 id="help-with-debit-cards" class="heading-medium mtp-help__section">
        Money was returned to you</h2>

        <p>
          You may have used an incorrect reference. If this is the case, you’ll receive a refund within 4 working days of making the transfer. Your bank statement will show ‘GBS RE NOMS AGENCY’ and the reference will be ‘refund’.
        </p>

      <h2 id="help-with-debit-cards" class="heading-medium mtp-help__section">
        The prisoner has not recieved the money</h2>

        <p>
          Content
        </p>


        <h2 id="help-with-debit-cards" class="heading-medium mtp-help__section">
          If a payment doesn’t go through</h2>

          <p>
            When you make a transfer at a bank branch or from an international bank account, your payment won't go through. That means we can't credit the prisoner and you'll have to request a refund. <a href="#">Please follow these steps</a>.
          </p>

      <!-- <h2 id="help-with-debit-cards" class="heading-medium mtp-help__section">How to request a refund (own page)</h2>

      <p>

        <ol class="list list-number">

          <li>
            <a href="https://www.justice.gov.uk/contacts/prison-finder">Find the prison address</a> to write to the prison.
          </li>

          <li>
            Address your letter to the ‘Business Hub’
          </li>

          <li> Include the following:
            <ul class="list list-bullet">
              <li>your name</li>
              <li>your address</li>
              <li>the prisoner’s name</li>
              <li>the prisoner number</li>
              <li>the amount and date you paid</li>
              <li>the bank branch where you made the payment</li>
            </ul>
          </li>

          <li>
            The prison will send you a refund by cheque.
          </li>

        </ol>

      </p> -->







<!-- HELP -->

			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
			</ul>


    </div>
  </div>
</main>

{% endblock %}
