{% extends "layout.html" %}

{% block head %}
  {% include "includes/head-MTP.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/banner.html" %}

  <h1 class="heading-xlarge">
    How do you want to send money?
  </h1>

  <form method="get" action="/payment-choice" class="how_send_money">
    <fieldset class="mtp-payment-choice">

      <legend class="visuallyhidden">How do you want to send money?</legend>

      <label class="block-label  selection-button-radio selected" for="id_debit_card">

        <input id="id_debit_card" type="radio" name="payment_method" value="debit_card" checked="">

        Pay now by debit card

      </label>

      <p class="form-block">
        or
      </p>

      <label class="block-label selection-button-radio" for="id_bank_transfer">

        <input id="id_bank_transfer" type="radio" name="payment_method" value="bank_transfer">

        Get a prisoner reference to use in a UK bank transfer

      </label>


    </fieldset>


    <details>

      <summary style="padding-top:20px; padding-bottom:20px" >

        Which is right for me?

      </summary>

      <div class="panel panel-border-narrow help-box-contents" id="help-box-contents">

        <h2 class="heading-small mtp-debit-header ">Pay now by debit card</h2>

        <ol class="list list-number">

          <li>You can complete your payment here using Mastercard/Visa debit cards
          </li>

          <li>The money should take up to 3 working days to reach the prisoner
          </li>

          <li>You’ll get email confirmation of payment
          </li>

          <li>You can make an international payment using your Mastercard/Visa debit card
          </li>

        </ol>

        <!-- <a class="mtp-help-link" href="/en-gb/help/#help-with-debit-cards">More help
        </a> -->

        <h2 class="heading-small">Get a prisoner reference to use in a UK bank transfer
        </h2>

        <ol class="list list-number">

          <li>You’ll get a prisoner reference you can use to make a bank transfer using online banking, your mobile banking app or telephone banking
          </li>

          <li>You can re-use this reference for this prisoner each time you make a transfer
          </li>

          <li>The money should take about 3 working days to reach the prisoner
          </li>

          <li>You don’t get email confirmation after your bank transfer.
          </li>

        </ol>

        <!-- <a class="mtp-help-link" href="/en-gb/help/#help-with-bank-transfers">More help</a> -->

      </div>

    </details>

    <p>

      <input id="id_next_btn" class="button" type="submit" value="Continue">
    </p>

  </form>

</main>


{% endblock %}
