{% extends "layout.html" %}

{% block page_title %}
  Send money to a prisoner
{% endblock %}

{% block content %}

<main role="main" id="content" tabindex="-1">

  <div class="phase-banner-beta">
    <p>

        <strong class="phase-tag phase-tag-dev">test</strong>

      <span>
        This is a new service.
        You can <a href="/en-gb/help/">find help</a> or <a href="/en-gb/contact-us/">contact us</a> about this service.
      </span>
    </p>
  </div>


  <div class="govuk-box-highlight">
    <h1 class="heading-large">Payment successful</h1>
    <p>Your confirmation number is</p><p>
    <strong>62F1DFC3</strong>
  </p></div>

  <div class="print-hidden mtp-reference-actions">

  <img id="print-image" src="public/images/print.jpg">

    <a class="mtp-print-reference" href="#">
      Print this page</a>
  </div>

  <h2 class="heading-medium">Payment summary</h2>
  <table class="mtp-table">
    <tbody><tr>
      <th>Payment to:</th>
      <td>James Halls</td>
    </tr>
    <tr>
      <th>Payment amount:</th>
      <td>£90</td>
    </tr>
    <tr>
      <th>Date payment made:</th>
      <td>04/04/2017</td>
    </tr>
    <tr>
      <th>Confirmation number:</th>
      <td>62F1DFC3</td>
    </tr>
  </tbody></table>

  <h2 class="heading-medium">What happens next</h2>

  <ol class="list list-number">
    <li>You’ll get email confirmation of payment.</li>
    <li>The money will arrive in the prisoner’s account in up to 3 working days.</li>

  </ol>

  <p>
    <a href="https://www.gov.uk/done/send-prisoner-money">Take a moment to rate this service</a>
  </p>

  </main>


{% endblock %}
