<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>

      <meta charset="utf-8" />

      <title>
      Send money to someone in prison
      </title>

      <!--[if gt IE 8]><!--><link href="/public/stylesheets/govuk-template.css?0.19.2" media="screen" rel="stylesheet" /><!--<![endif]-->
      <!--[if IE 6]><link href="/public/stylesheets/govuk-template-ie6.css?0.19.2" media="screen" rel="stylesheet" /><![endif]-->
      <!--[if IE 7]><link href="/public/stylesheets/govuk-template-ie7.css?0.19.2" media="screen" rel="stylesheet" /><![endif]-->
      <!--[if IE 8]><link href="/public/stylesheets/govuk-template-ie8.css?0.19.2" media="screen" rel="stylesheet" /><![endif]-->
      <link href="/public/stylesheets/govuk-template-print.css?0.19.2" media="print" rel="stylesheet" />
      <!--[if IE 8]><link href="/public/stylesheets/fonts-ie8.css?0.19.2" media="all" rel="stylesheet" /><![endif]-->
      <!--[if gte IE 9]><!--><link href="/public/stylesheets/fonts.css?0.19.2" media="all" rel="stylesheet" /><!--<![endif]-->
      <!--[if lt IE 9]><script src="/public/javascripts/ie.js?0.19.2"></script><![endif]-->
      <link rel="shortcut icon" href="/public/images/favicon.ico?0.19.2" type="image/x-icon" />
      <link rel="mask-icon" href="/public/images/gov.uk_logotype_crown.svg?0.19.2" color="#0b0c0c">
      <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/apple-touch-icon-152x152.png?0.19.2">
      <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/apple-touch-icon-120x120.png?0.19.2">
      <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/images/apple-touch-icon-76x76.png?0.19.2">
      <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon-60x60.png?0.19.2">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta property="og:image" content="/public/images/opengraph-image.png?0.19.2">
      <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="/public/stylesheets/docs.css" media="screen" rel="stylesheet" type="text/css" />

</head>

<body class="">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
  </div>

  <div id="global-cookie-message">
  <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
  </div>


  <header role="banner" id="global-header" class="
  <!-- blank to remove the proposition header -->
  ">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="/public/images/gov.uk_logotype_crown_invert_trans.png?0.19.2" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>

        </div>

  <!-- blank to remove the proposition header -->

      </div>
    </header>




    <div id="global-header-bar"></div>



<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="https://www.gov.uk/browse/justice">Crime, justice and the law</a></li>
      <li><a href="https://www.gov.uk/browse/justice/prisons-probation">Prisons and probation</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
          Send money to someone in prison
      </h1>

      <div class="intro">

          <p>You can use this service to make a payment by debit card.</p>
          <p>You can also find out how to make a UK bank transfer to a prisoner by:</p>

          <ul class="list list-bullet">
            <li>online banking</li>
            <li>mobile banking app</li>
            <li>telephone banking</li>
          </ul>

          <div role="note" aria-label="Information" class="panel panel-border-wide">
            <p>Your money won’t reach the prisoner if you make a transfer from a bank branch or non-UK account.</p>
          </div>

          <p>This service is free and secure, and available in all public prisons in England and Wales. You can’t use the service to send money to someone in a <a rel="external" href="https://www.justice.gov.uk/about/hmps/contracted-out">private prison</a>.</p>

          <p>
            <a class="button button-start" href="/how_do_you_want_to_send_money" role="button">Start now</a>
          </p>

      </div>

      <div id="before-you-start">

          <h3 class="heading-medium">Before you start</h3>

          <p>You’ll need the:</p>

          <ul class="list list-bullet">
            <li>prisoner’s date of birth</li>
            <li>prisoner number</li>
          </ul>

          <p>Money usually takes around 3 working days to reach a prisoner’s account.</p>

          <p>You need a bank account to use this service. If you don’t have one you can send money to a prisoner <a href="https://www.gov.uk/staying-in-touch-with-someone-in-prison/sending-money">using a postal order, a cheque or cash</a>.</p>

          <!-- <p>
          If you need help to use this service, please call: <br> <a href="#"> 02-000-000-000</a>
          </p> -->


      </div>

      <h3 class="heading-medium">If you need assistance</h3>
      <p>If you’ve already sent money and are experiencing difficulties, find out:</p>
      <ul class="list list-bullet">
        <li>why your <a href="/help/bank-transfer-issues">bank transfer was returned or didn’t reach the prisoner</a></li>
        <li>why <a href="/help/payment-delay">a payment has taken longer</a></li>
        <li>what happens to money sent when <a href="/help/prisoner-moved-or-released">a prisoner has been moved or released</a></li>
      </ul>
      <p>Also, if you’re not confident using a computer, call 0121 626 2707 and we can take you through the service, step-by-step.</p>

    </div>


    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">

        <h2 class="heading-medium" id="subsection-title">Prisons and probation</h2>

        <nav role="navigation" aria-labelledby="subsection-title">

          <ul class="font-xsmall">

            <li><a href="https://www.gov.uk/staying-in-touch-with-someone-in-prison">Staying in touch with someone in prison</a></li>

            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>

          </ul>

        </nav>

      </aside>

    </div>

  </div>

</main>



    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">


        <div class="footer-meta">
          <div class="footer-meta-inner">


            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>

            </div>

          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
          </div>

        </div>

      </div>

    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/public/javascripts/govuk-template.js?0.19.2"></script>


  <!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>
<script src="/public/javascripts/docs.js"></script>




    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  </body>
</html>
